.source-code-pro-font {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
    background-color: #0F1018;
    color: #5361e3;
    margin: 0;
    font-size: large;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

li {
    list-style-type: square;
}

ul {
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit; 
}

#main-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
}

.main-container {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex;
}

.smol-text {
    font-size: small;
}

.main-nametag {
    padding-bottom: 3px;
    padding-top: 4px;
    margin-left: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main-upper-left {
    min-width: 60%;
}

.links-container {
    margin-left: 2em;
    display: inline-flex;
    gap: .65em;
    padding-bottom: .1em;
    padding-right: .5em;
}

.main-nametag-text {
    background-color: #242350;
    font-size: x-large;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 32px;
    padding-right: 32px;
}

.dev-current {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9999;
    font-size: small;
    flex-shrink: 0;
}

.dev-current-2 {
    display: flex;
    width: max-content;
    padding-right: 2em;
    animation: scroll-marquee 60s linear infinite;
    font-size: small;
}

.dev-list-item {
    flex-shrink: 0;
    padding-right: 35px;
    white-space: nowrap;
    display: inline-block;
    font-size: small;
    text-decoration: none;
}

.dev-list-item:hover {
    color: #9ca6ff;
    font-size: small;
}

.dev-current:hover .dev-current-2 {
  animation-play-state: paused;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance, -50%));
  }
}

.nametag-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nametag-bottom-row {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.nametag-top-row {
    display: inline-flex;
    align-items: center;
    gap: .5em;
    margin-right: -0.2em;
    margin-left: -.2em;
    margin-top: .25em;
}

.main-container-lower {
    margin-left: 2em;
    margin-right: 2em;
}

.landing-library-box {
    margin-top: 2em;
    margin-bottom: 1em;
}

.landing-library-title {
    font-size: x-large;
    padding-left: .75em;
}

.main-upper-right {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    width: 100%;
}

.main-upper-right-2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    margin-top: .25em;
    margin-left: 0em;
    margin-right: 2em;
    width: 55%;
}

.links-container-2 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1em;
    margin-top: .25em;
    border-bottom: 1px solid #5361e3;
    border-left: 1px solid #5361e3;
    text-decoration: none;
}

.nametag-container-2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    margin-top: 1.25em;
}

.nametag-top-row-2 {
    display: inline-flex;
    align-items: right;
    justify-content: right;
    gap: .5em;
    margin-left: -.05em;
    margin-top: .25em;
}

.nametag-bottom-row-3 {
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 1.25em;
    margin-top: -1em;
    margin-bottom: .3em;
    margin-right: 10.5em;
}

.nametag-bottom-row-2 {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 1.25em;
    margin-top: -.125em;
}

.footer-box {
    width: 100%;
    background-color: #0F1018;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hover-link {
    text-decoration: none;
    font-size: small;
}

.hover-link:hover {
    color: #9ca6ff;
    font-size: small;
}

.main-container-2 {
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    overflow-y: auto;
    height: calc(100vh - 13.5em);
    border-radius: 2px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-container-2::-webkit-scrollbar {
    display: none;
}

.main-home {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

.main-reviews {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

.main-games {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

.main-films {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

.main-shows {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

.main-books {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
}

.trophies-2 {
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: .2em;
    margin-left: auto;
    padding-left: .5em;
    padding-bottom: .5em;
    flex-shrink: 0;
}

.trophies-3 {
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .2em;
    margin-left: auto;
    padding-left: .5em;
    padding-bottom: .1em;
    border-bottom: 1px solid #5361e3;
    border-left: 1px solid #5361e3;
    flex-shrink: 0;
    height: fit-content;
}

.lc-2 {
    gap: .65em;
    display: inline-flex;
    margin-bottom: .1em;
    padding-bottom: .15em;
}

.trophies {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1em;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    flex-shrink: 0;
}

.trophies-4 {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .6em;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    flex-shrink: 0;
    padding-bottom: .1em;
    height: fit-content;
}

.default {
    display: none;
}

.default.active {
    display: block;
}

.reviews-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
}

.reviews5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
}

.review-border {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #5361e3;
    border-bottom: 1px solid #5361e3;
    padding-left: .5em;
    padding-bottom: .1em;
    margin-bottom: 1.5em;
    margin-top: .25em;
}

.links-button {
    color: #5361e3;
    font-size: 10.5px;
    margin-right: .25em;
}

.links-button:hover {
    color: #9ca6ff;
    font-size: 10.5px;
}

.review-button {
    color: #FA9EBC;
    font-size: 10.5px;
    margin-right: -.25em;
}

.review-button:hover {
    color: #9ca6ff;
    font-size: 10.5px;
}

.log-button {
    color: #5361e3;
    font-size: 10.5px;
    margin-right: -.25em;
}

.log-button:hover {
    color: #9ca6ff;
    font-size: 10.5px;
}

.stats-button {
    color: #5361e3;
    font-size: 10.5px;
    margin-right: -.25em;
}

.stats-button:hover {
    color: #9ca6ff;
    font-size: 10.5px;
}

.trophy-award {
    color: #cdd2ff;
    font-size: 10.5px;
    margin-right: .35em;
}

.tag {
    display: inline-flex;
    align-items: center;
    color: #5361e3;
    font-size: 10.5px;
    background-color: #242350;
    border-radius: 4px;
    padding-left: .35em;
    padding-right: .35em;
    height: 1.65em;
    margin-right: -.3em;
}

.tag-text{
    font-size: 12.5px;
    margin-left: .25em;
    margin-bottom: .05em;
}

.reviews-box li {
    display: inline-flex;
    gap: .5em;
    align-items: center;
    margin-bottom: .35em;
}

.smol-text-2 {
    font-size: small;
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.smol-text-3 {
    font-size: small;
    display: inline-flex;
    align-items: center;
    width: 25em;
    gap: .8em;
}

.smol-text-4 {
    display: inline-flex;
    align-items: center;
    width: 4em;
    gap: .5em;
}

.smol-text-5 {
    display: inline-flex;
    align-items: center;
    margin-left: .2em;
    gap: .5em;
}
