.source-code-pro-font {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
    background-color: #0F1018;
    color: #5361e3;
    margin: 0;
    font-size: large;
}

li {
    list-style-type: square;
}

ul {
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit; 
}

#main-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    flex: 0 0 100%;
}

.main-upper-left {
    width: 47%;
}

.main-container {
    min-width: 100%;
}

.smol-text {
    font-size: small;
}

.main-nametag {
    /* border-top: 0px; */
    /* border-left: 0px; */
    padding-bottom: 3px;
    padding-top: 4px;
    margin-left: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.links-container {
    margin-left: 2em;
}

.main-nametag-text {
    background-color: #242350;
    font-size: x-large;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 32px;
    padding-right: 32px;
}

.dev-current {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9999;
    font-size: small;
}

.dev-current-2 {
    display: flex;
    width: max-content;
    padding-right: 2em;
    animation: scroll-marquee 20s linear infinite;
    font-size: small;
}

.dev-list-item {
    flex-shrink: 0;
    padding-right: 35px;
    white-space: nowrap;
    display: inline-block;
    font-size: small;
    text-decoration: none;
}

.dev-list-item:hover {
    text-decoration: underline;
}

.dev-current:hover .dev-current-2 {
  animation-play-state: paused;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance, -50%));
  }
}

.nametag-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nametag-top-row {
    display: flex;
    align-items: center;
    gap: .75em;
}

.nametag-bottom-row {
    display: inline-flex;
    align-items: center;
    gap: .5em;
    margin-right: -0.2em;
    margin-left: .35em;
    margin-top: .25em;
}
